name: clisitef_external_pinpad
description: Pacote Clisitef para os dispositivos que possuem Pinpad externo
version: 0.0.1

environment:
  sdk: '>=2.18.2 <4.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  intl: any
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.loopmarket.clisitef
        pluginClass: ClisitefPlugin
